* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    border: 1px solid black;
    padding: 100px;
    background-image: url("robomouth.jpeg");
    background-repeat: no-repeat;
    background-position: center;

}

header>h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 200%;
    text-align: center;
}

.intro {
    margin-top: 70px;
}
.intro > h1 {
    text-align: center;
    margin-bottom: 20px;
}

.intro > p {
   text-align: center;
}

.scoreBoard {
    margin: 50px 200px 100px 200px;
    padding: 30px;
    border: 6px solid black;
    border-style: double;
}

.scoreboard > p {
    margin-bottom: 10px;
    margin-top: 5px;
}

.scoreboard > h2 {
    text-align: center;
}

.scoreBoardUser {
    top: 0px auto;
    border: 2px solid black;
    border-style: double
    border-radius: 6px;
    text-align: center;
    width: 10%;
    font-size: 25px;
    padding: 5%;
    font-family: 'Press Start 2P', cursive;
    position: relative;
    float: left;
}

.scoreBoardRoboto {
    top: 0px auto;
    border: 2px solid black;
    border-radius: px;
    text-align: center;
    width: 10%;
    font-size: 25px;
    padding: 5%;
    font-family: 'Press Start 2P', cursive;
    position: relative;
    float: right;
}

.scoreBoardTie {
    border: 2px solid black;
    border-radius: 6px;
    text-align: center;
    width: 10%;
    font-size: 25px;
    padding: 5%;
    font-family: 'Press Start 2P', cursive;
    position: relative;
    top: 0px auto;
    margin-left: 500px;
}

.userLabelStyle {
    font-size: 14px;
    position: absolute;
    top:0px;;
    left: 0px;
    background-color: #3333ff;
    color: white;
    padding: 5px;
}

.computerLabelStyle {
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
    color: white;
    padding: 5px;
}

.tieLabelStyle {
    font-size: 14px;
    position: absolute;
    top: 0px;;
    left: 0px;
    background-color: black;
    color: white;
    padding: 5px;
}

.choices {
    margin-top: 30px;
    display: inline-block;
}
.choices > h1 {
    text-align: center;
    margin-bottom: 75px;
}

.choice {
    border: 6px solid black;
    display: inline-block;
    margin-left:40px;
    justify-content: center;
    border-radius: 100px;
    padding: 10px
}
.info {
    width: 100%;
    padding: 0;
}

.roncorinfo {
    width: 20%;
    padding: 40px;
    display: inline-block;
}

.printlorinfo {
    width: 20%;
    display: inline-block;
    padding: 40px;
    
}

.staninfo {
    width: 20%;
    display: inline-block;
    padding: 40px;
}

.peanutinfo {
    width: 20%;
   display: inline-block;
    padding: 40px;
}

.roboPics {
    border-radius: 50px;
}

.choice:hover {
    cursor: pointer;
    background: rgb(141, 255, 47);
}

.result {
    font-size: 150%;
    color: red;
    text-align: center;
    padding: 50px;
}